* {
    font-family: 'Jua', sans-serif;
  }
  .wrap {
    width: 900px;
    
    margin: auto;
    /* border: 10px solid black; */
  }

 
  .main-img {
    width: 500px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCPUuYY2OuRGNvPk6WEucREg6JvG7hOGoTfIHoFcPLCHf91fnfkUEzSt7a3DRHKOw-gzMDj53S&usqp=CAc');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: auto;

  }

  .title > h1 {
    margin: 30px 0 20px 0;
    color: burlywood;
  }


  .sp {
    color: black;
  }
  .title > p {
    color: rgb(68, 67, 67);
    font-size: 20px;
  }
  /* .order{
    color: rgb(105, 103, 103);
  } */
  
  .order > h1 {
    margin: 30px 0 20px 0;
    
  }

  .order-in {
    font-size: 25px;
    /* border: 2px solid black; */

  }
  .int-t {
    width: 890px;
    margin: 10px auto;
  }



  .end {
      width: 900px;
        margin: 50px 0 50px 0;
       
  }

  .submit {
    width: 300px;
    padding: 10px;
    font-size: 20px;
    margin: 0 300px 0 275px ;
  }